.container {
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 20px 20px;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 150px;
    margin-left: 150px;

	width: 80%;
	box-shadow: 1px 1px 20px 1px #00000034;
    /* padding: 50px; */
}

.image {
	width: 400px;
	height: 400px;
	width: 40%;
}

.form {
	display: flex;
	flex-direction:column;
    justify-content: center;
    align-items: center;
	width: 55%;
}

.input {
	margin-top: 8px;
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid grey;}

    .input:focus {
        /* background-color: #000; */
        /* border: 40px; */
        padding: 30px;
    }
.text{
    text-align: center;
}

.button{
    
    margin-top: 20px ;
    border: 0px;
    background-color: rgb(52, 169, 215);
    padding:0.5rem 1rem;
    transition: 0.5s;    
   cursor: pointer;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    background-color: red;
}